@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

:root {
  --background: #f9f4ef;
  --foreground: #171717;
}

*{
  scroll-behavior: smooth;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Space Grotesk", sans-serif;
}

.bg-hero {
  background-image: url('/lofirain.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-albums {
  background-image: url('/portadaAlbum.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.btn-primary {
  background-color: #b8c1ec;
}

.bg-section-primary {
  background: #0f0e17;
  background: linear-gradient(180deg, #0f0e17 40%, rgba(70, 22, 121, 1) 100%);
}

.bg-section-secondary {
  background: rgb(70,22,121);
}

.bg-section-tertiary {
  background: rgba(70, 22, 121, 1);
  background: linear-gradient(180deg, rgba(70, 22, 121, 1) 40%, #0f0e17 100%);
}

.bg-section-tertiary-2 {
  background: #0f0e17;
}

.slick-prev, .slick-next {
  top: 45%;
}