@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f4ef;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
}

.bg-hero {
  background-image: url('/lofirain.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-primary {
  background-color: #b8c1ec;
}

.bg-section-primary {
  background: rgb(35, 41, 70);
  background: linear-gradient(180deg, rgba(35, 41, 70, 1) 15%, rgba(70, 22, 121, 1) 100%);
}

.bg-section-secondary {
  background: rgb(70,22,121);
}